@use 'src/styles/_mixins.scss' as *;

.inchapin-section {
  height: calc(100dvh - 131px);
  min-height: 767px;


  @include desktop-small {
    height: calc(100dvh - 100px);
    min-height: 660px;
  }

  @include tablet {
    min-height: 535px;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    height: 600px;

    @include desktop-small {
      height: 506px;
    }

    @include tablet {
      height: 411px;
    }
  }

  .image {
    object-fit: cover;
    object-position: center 42%;

    @include desktop-small {
      object-position: center 47%;
    }

    @include tablet {
      object-position: center 38%;
    }
  }

  .bottom-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;
    gap: 16px;

    @include desktop-small {
      margin-top: 40px;
    }

    @include tablet {
      margin-top: 30px;
    }
  }

  .text-image-wrapper {
    position: relative;
    width: 862px;
    height: 137px;

    @include desktop-small {
      width: 717px;
      height: 114px;
    }

    @include tablet {
      width: 554px;
      height: 88px;
      margin-bottom: 6px;
    }
  }

  .span {
    font-size: 31px;
    line-height: 140%;
    text-transform: uppercase;

    @include desktop-small {
      font-size: 26px;
    }

    @include tablet {
      font-size: 19px;
    }
  }
}
