@use 'src/styles/_mixins.scss' as *;

html,
body {
  font-family: var(--first-family);
  color: var(--base-black);
  background-color: var(--base-white-snow);
  -webkit-tap-highlight-color: transparent
}

body.lock {
  overflow: hidden;
}

.none {
  display: none !important;
}
