:root {
  /* colors */
  --base-white: #ffffff;
  --base-black: #000000;
  --base-black-light: #111111;
  --base-transparent-black: rgba(0, 0, 0, 0.2);
  --base-blue: #2f80ed;
  /* bg */
  --bg-primary: var(--base-white);
  /* texts */
  --text-white: var(--base-white);
  --text-black: var(--base-black);
  --text-black-light: var(--base-black-light);
  --text-transparent: var(--base-transparent-black);
  --text-accent: var(--base-blue);
  /* buttons */
  --button-bg: var(--base-blue);
  --button-text: var(--base-white);
  /* fonts */
  --first-family: 'Proxima Nova', sans-serif;
}
