@use 'src/styles/_mixins.scss' as *;

.main-header {
  position: sticky;
  top: 0;
  padding: 40px 0;
  z-index: 2;

  @include desktop-small {
    padding: 28.5px 0;
  }

  background-color: var(--bg-primary);
  .content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  .left-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: auto;
    gap: 43px;
  }

  .right-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-left: auto;
  }

  .tel-with-call-wrapper {
    display: flex;
    align-items: center;
    gap: 45px;
  }

  .logo {
    width: 187px !important;
    flex-shrink: 0;

    @include desktop-small {
      width: 156px !important;
    }
  }

  .tel-number {
    font-weight: 600;
    font-size: 17px;
    line-height: 100%;
    color: var(--text-black-light);
    transition: opacity 0.2s ease;

    @include desktop-small {
      font-size: 14px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
