@use 'src/styles/_mixins.scss' as *;

.button {
  padding: 24px 69px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 999px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.07em;
  transition: all 0.2s ease;

  @include desktop-small {
    font-size: 14px;
  }

  &:hover {
    opacity: 0.9;
  }
}