.accent-span {
  &.w-800 {
    font-weight: 800;
  }
  &.w-700 {
    font-weight: 700;
  }
  &.w-600 {
    font-weight: 600;
  }
  &.w-500 {
    font-weight: 500;
  }
  &.w-400 {
    font-weight: 400;
  }

  &.primary {
    color: var(--text-white);
  }

  &.secondary {
    color: var(--text-black);
  }

  &.tertiary {
    color: var(--text-transparent);
  }

  &.quaternary {
    color: var(--text-accent);
  }

  &.quinary {
    color: var(--text-transparent-gray);
  }
}
